<%= render 'users/userinfo', user: @user %>
<%= render 'books/newbook', book: @book %>

<div class="container">
  <div class="col-xs-9">
    <h2>Users</h2>
    <table class="table table-condensed">
      <thead>
        <tr>
          <th>image</th>
          <th>name</th>
          <th colspan="1"></th>
        </tr>
      </thead>
      <% @users.each do |user| %>
      <tbody>
        <tr>
          <td>
            <%= attachment_image_tag user, :profile_image, :fill, 50, 50, format: 'jpeg', class: "profile-img", fallback: "no_image.jpg" %>
          </td>
          <td><%= user.name %></td>
          <td><%= link_to "Show", user_path(user.id) %></td>
        </tr>
      </tbody>
      <% end %>
    </table>
  </div>
</div>
