<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h1>Editing Book</h1>
      <% if @book.errors.any? %>
        <%= @book.errors.count %>件のerrorが発生しました
        <% @book.errors.full_messages.each do |message| %>
          <%= message %>
        <% end %>
      <% end %>
      <%= form_for(@book) do |f| %>
        <div class="field row">
          <h4>Title</h4>
          <%= f.text_field :title, class: "col-xs-12 book_title"%>
        </div>
        <div class="field row">
          <h4>Opinion</h4>
          <%= f.text_area :body, class: "col-xs-12 book_body" %>
          <br>
        </div>
        <div class="actions row">
          <%= f.submit "Update Book" ,class: "btn btn-primary col-xs-12" %>
          <br>
        </div>
      <% end %>
      　<%= link_to 'Show', book_path %>
      ｜
      　<%= link_to 'Back', books_path  %>
      <div class="col-md-3"></div>
    </div>
  </div>
</div>
